#userloginPage{
  width: 96%;
  margin-top: 60px;
}
#userlogin{
    /* border: 1px solid red; */
    margin: auto;
    padding: 5% 2%;
    width: 320px;
    text-align: center;
    align-items: center;
    align-self: center;
    vertical-align: middle;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



#loginImg{
  /* media_fire to be inserted */
  width: 350px;
  padding-left: 5%;
}

#signuphead{
  text-align: left;
}

#userForgot{
  /* border: 1px solid red; */
  font-size: 13px;
  padding-left: 57%;
  text-decoration: none;
  color: rgb(0, 255, 255);
}

#usersignup{
  padding-left: 20px;
}
 #signuppromodiv{
    width: 80%;
  line-height: 0%;
 }

#signuppromo{
  text-align: left;
  font-size: 12px;
}


#phone_code{
  margin-top: 3px;
  margin-right:12px;
  padding:5px 20px 5px 5px;
  width: 30%;
  height: 50px;
  display: inline-block;

}